{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "block-opening-brace-space-before": "never-single-line",
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-newline-before": "always",
  }
}
