body {
    font-family: sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    max-width: 800px;
}

.wrapper {
    margin: 0;
    padding: 20px;

    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #3d3d3d;
    text-align: left;
}

.options-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;

    font-size: 28px;
}

.time-table {
    width: 450px;

    border-collapse: collapse;
}

.time-table:not(.time-table-empty) {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.days {
    position: relative;
    width: 170px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.time {
    width: 110px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.networks {
    width: 130px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.rule-line {
    cursor: pointer;
    vertical-align: top;
}

.rule-line-active > .days:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: -5px;
    z-index: 1;
    transform: translateY(-50%);
}

.rule-line:hover,
.rule-line-selected {
    background-color: #faf0e6;
}

.btn {
    display: inline-block;

    padding: 7px 15px;

    background-color: #58ad7c;
    border: none;
    border-radius: 2px;

    font-size: 16px;
    color: #ffffff;

    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}

.btn:active {
    box-shadow: inset 0 1px 4px rgba(0,0,0,.4);
}

.btn:disabled {
    cursor: not-allowed;
    -webkit-filter: grayscale(75%);
            filter: grayscale(75%);
}

.btn:disabled:hover, .btn:disabled:active {
    box-shadow: none;
}

.add-rule-form {
    display: none;

    margin-top: 5px;
    padding-top: 5px;
}

.showed {
    display: block;
}

.hidden {
    display: none;
}

.form-row {
    margin-left: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;

    border: none;
}

.form-row-title {
    font-weight: bold;
    display: inline-block;
    width: 60px;
    margin: 0 0 5px;
}

.btn-add,
.btn-save {
    display: none;
}

.form-mode-add .btn-add,
.form-mode-edit .btn-save {
    display: block;
}

.checkbox-buttons {
    display: inline-flex;

    vertical-align: baseline;
}

.checkbox-buttons-input {
    display: none;
}

.checkbox-buttons-label {
    min-width: 25px;
    margin-right: -1px;
    padding: 5px 6px;

    text-align: center;

    color: #999;
    border: 1px solid #ccc;
    background-color: #fcfcfc;
    background-image: linear-gradient(to bottom, #ffffff, #fbfbfb);
}

.checkbox-buttons-label .icon {
    opacity: .35;
}

.checkbox-buttons-input:checked + .checkbox-buttons-label {
    color: #fff;
    background-color: #707070;
    background-image: linear-gradient(to bottom, #707070, #6c6c6c);
    border-color: #6c6c6c;
}

.checkbox-buttons-input:checked + .checkbox-buttons-label .icon {
    opacity: 1;

    filter: invert(100%);
}

.checkbox-buttons-label:first-of-type {
    border-radius: 3px 0 0 3px;
}

.checkbox-buttons-label:last-of-type {
    border-radius: 0 3px 3px 0;
}

.form-label {
    margin-left: 5px;
}

#start-time {
    margin-right: 25px;
}

.text-input {
    width: 45px;
    padding: 5px 10px;
    margin-left: 10px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;

    font-size: 16px;
    line-height: 1.25;
    font-family: sans-serif;
    color: #3d3d3d;
    outline-color: #58ad7c;
}

.onerror {
    border: 1px solid #a94442;
    box-shadow: 0 0 1px 1px rgba(169, 68, 66, 0.5);
}

.checkbox-label {
    display: inline-block;

    margin-left: 10px;
    padding: 2px 4px;

    border-radius: 2px;

    cursor: pointer;
    transition: background-color 0.15s ease-out;
}

.label-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.checkbox-label:nth-of-type(1) {
    margin-left: 0;
}

.form-checkbox:checked + .checkbox-label {
    background-color: #faf0e6;

    transition: background-color 0.15s ease-out;
}

.form-checkbox:checked + .checkbox-label .label-content {
    border-bottom-color: transparent;
}

.icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}

.icon:last-child {
    margin-right: 0;
}

.icon-facebook {
    background-image: url('external/svg/facebook.svg');
}

.icon-vk {
    background-image: url('external/svg/vk.svg');
}

.icon-twitter {
    background-image: url('external/svg/twitter.svg');
}

.icon-ok {
    background-image: url('external/svg/ok.svg');
}

.icon-youtube {
    background-image: url('external/svg/youtube.svg');
}

.icon-reddit {
    background-image: url('external/svg/reddit.svg');
}

.btn-delete {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    font-size: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url('external/svg/delete.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.rule-line:hover .btn-delete {
    opacity: 0.2;
}

.rule-line:hover .btn-delete:hover {
    opacity: 1;
    transition-duration: 0.3s;
}

.help {
    margin-left: auto;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    flex-shrink: 0;
    color: #5a5a5a;
    padding: 20px;
    font-size: 14px;
    width: 300px;
}
